@{
    ViewData["Title"] = "Anasayfa";
}

<div class="card card-custom mx-4">
    <div class="card-header">
        <div class="kt-portlet__head-label m-auto">
            <h3 class="card-label">
                Yönetim Paneline Hoş Geldiniz !!!
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body text-center">

       Siteniz ile ilgili tüm işlemlerinizi sol taraftaki menüyü kullanarak gerçekleştirebilirsiniz.

    </div>
</div>