@model List<BaseEntities.Concrete.SelectBoxModel>
@{
    var list = ViewData["SelectedCity"] as List<Guid>;
    if (list == null)
        list = new List<Guid>();
}

<select class="form-control kt-select2" id="city_select" style="width: 100%" multiple="multiple" name="Cities">
    
    @foreach (var item in Model)
    {
        if(list.Contains(item.Id))
        {
            <option value="@item.Id" selected="selected">@item.DisplayValue</option>
        }
        else
        {
            <option value="@item.Id">@item.DisplayValue</option>
        }
    }
</select>

<script type="text/javascript">

    $('#city_select').select2({
    });
    
</script>