@using DevExtreme.AspNet.Mvc
@using BaseEntities.Database

@{
    ViewData["Title"] = "Kullanıcı Yorum Listesi";
}
<style>
</style>
<div class="card card-custom mx-4">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Kullanıcı Yorum Listesi
            </h3>
        </div>

        <div class="card-toolbar">
            <div class="dropdown dropdown-inline">
                <button type="button" class="btn btn-clean" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>  İşlemler </b>
                    <i class="fa fa-arrow-right fa-sm"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                    <ul class="navi navi-hover">
                        <li class="navi-item">
                            <a asp-controller="UserComment" asp-action="Create" asp-area="SiteConfig" class="navi-link">
                                
                                <span class="navi-text">Kullanıcı Yorumu Ekle</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="card-body">
        @(Html.DevExtreme().DataGrid<UserComment>().ID("UserCommentTable")
            .Columns(columns =>
            {
                columns.AddFor(w => w.Id).Caption("İşlemler").CellTemplate(
                    @<text>

                        <div class="dropdown grid-menu-btn">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                -- İşlem Seçin --
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="pointer gray dropdown-item" href="@Url.Action("Update", "UserComment",new{Area="SiteConfig"})?id=<%=value%>">
                                   Yorum Bilgilerini Düzenle
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                <a class="pointer red dropdown-item" data-area="SiteConfig" data-async-remove-grid="UserComment" data-ref="<%=data.Id%>" data-from="UserCommentTable" data-refresh="false">
                                    Sil
                                </a>
                            </div>
                        </div>
                     </text>

                    ).Alignment(HorizontalAlignment.Center);


                columns.AddFor(s => s.UserName).Caption("Ad");
                columns.AddFor(s => s.Description).Caption("Yorum");
                columns.AddFor(s => s.CreateTime).Caption("Oluşturulma T.");
                columns.AddFor(s => s.UpdateTime).Caption("Düzenlenme T.");
            })
            .Summary(s => s.TotalItems(items =>
            {
                items.AddFor(m => m.Id)
                    .SummaryType(SummaryType.Count).Alignment(HorizontalAlignment.Left)
                    .CustomizeText(@<text>
                                       function(data) { return "Yorum Sayısı : " + data.value; }
                                    </text>);

            }))
            .SearchPanel(searchPanel => searchPanel.Visible(true).Width(250).Placeholder("Buradan Arama Yapabilirsiniz..."))
            .ElementAttr("IsDxGridTable", true)
            .Export(export => export.Enabled(true))
            .AllowColumnResizing(true)
            .AllowColumnReordering(true)
            .ColumnAutoWidth(true)
            .GroupPanel(panel => panel.Visible(true).EmptyPanelText("Gruplamak istediğiniz kolonu sürükleyin"))
            .RemoteOperations(true)
            .NoDataText("Aradığınız kriterlere göre bir veri bulunamadı.")
            .ShowBorders(true)
            .HoverStateEnabled(true)
            .RowAlternationEnabled(true)
            .OnContentReady("pageEvents.setTooltips")
            .Paging(pager => pager.Enabled(true).PageSize(10))
            .NoDataText("Görüntülenecek veri bulunamadı.")
            .LoadPanel(load => load.Enabled(true).ShowIndicator(true).Text("Yükleniyor"))
            .FilterRow(row => row.Visible(true).ApplyFilterText("Arama").ApplyFilter(GridApplyFilterMode.Auto))
            .DataSource(ds => ds.Mvc()
                .LoadAction("GridSource")
                .Controller("UserComment")
                .Area("SiteConfig")
            )
            .Width("99%")
            )

    </div>
</div>


